body {
    font-family: Arial, sans-serif;
    background-color: #c6e481;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    background: #78e7c2;
    padding: 20px;
    box-shadow: 0 0 10px rgba(218, 207, 207, 0.1);
    margin-top: 50px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #e7dbdb;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #689acf;
}
